body  {
    background-color: #F1EFEF;
}

#noticias {
    column-count: 3;
    column-width: 200px;
    
    column-gap: 20px;
}

img {
    width: 100%;
}

.title-article {
    position: relative;
}

.title-image {
    width: 70%;
    height: 300px;
    object-fit: cover;
    margin: 50px auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 180px;
    right: 0;
    height: 100%;
    width: 70%;
    opacity: 0;
    transition: .5s ease;
    background-color: #CCC8AA;
}

.title-article:hover .overlay {
    opacity: 1;
  }

.text {
    color: #7D7C7C;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}